<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712234018044-b6mr2h0cns38m1h4ft8fh6snrkorti5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712234018044-b6mr2h0cns38m1h4ft8fh6snrkorti5g</string>
	<key>API_KEY</key>
	<string>AIzaSyD8-e5en-hPFHrNC9v1qBZ0t2vayROGgmA</string>
	<key>GCM_SENDER_ID</key>
	<string>712234018044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideSeattle</string>
	<key>PROJECT_ID</key>
	<string>rideseattle-c9676</string>
	<key>STORAGE_BUCKET</key>
	<string>rideseattle-c9676.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712234018044:ios:916212ceaec8f3a3212379</string>
</dict>
</plist>